# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environment
venv/

# VSCode specific
.vscode/

# Environment variables
.env

# Cloud Translation API Credentials
google_credentials.json